/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

/* Заголовки */
h1, h2, h3 {
    font-weight: bold;
    color: #333;
}

/* Убираем стандартные маркеры списка */
ul.navbar {
    list-style-type: none; /* Убираем точки */
    margin: 0;
    padding: 0;
    display: flex; /* Делаем элементы в строку */
}

ul.navbar li {
    margin-right: 20px; /* Отступы между элементами */
}

ul.navbar li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #000; /* Цвет текста */
    font-weight: bold; /* Выделяем жирным */
}

ul.navbar li a:hover {
    color: #007bff; /* Цвет текста при наведении */
}

/* Выравнивание текста для приветственного сообщения */
h2 {
    margin-left: 0px; /* такой же отступ, как у body */
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px; /* нормальный, но аккуратный размер */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* нормальный шрифт, как у заголовков */
}

    .btn:hover {
        background-color: #45a049;
    }


.header-with-button {
    display: flex;
    align-items: center;
    gap: 35px; /* расстояние между заголовком и кнопкой */
    margin-bottom: 20px;
}



/* Форма (например, для анализа) */
form {
    margin: 20px 0;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Табы или секции */
section {
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    table th, table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table th {
        background-color: #f8f8f8;
    }

/* Строка итогов */
tfoot td {
    font-weight: bold;
    text-align: right;
}

/* Кнопки */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }
