/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

/* Заголовки */
h1, h2, h3 {
    font-weight: bold;
    color: #333;
}

ul.navbar {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 

ul.navbar li {
    margin-right: 20px; 
}

ul.navbar li a {
    text-decoration: none; 
    color: #000; 
    font-weight: bold; 

ul.navbar li a:hover {
    color: #007bff; 
}

h2 {
    margin-left: 0px; 
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; 
}

    .btn:hover {
        background-color: #45a049;
    }


.header-with-button {
    display: flex;
    align-items: center;
    gap: 35px; /* расстояние между заголовком и кнопкой */
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section {
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    table th, table td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    table th {
        background-color: #f8f8f8;
        text-align: center;
    }

/* Строка итогов */
tfoot td {
    font-weight: bold;
    text-align: right;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }
