{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Личный бюджет{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'budget/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            background-color: #a8d5a2; /* светло-зелёный цвет */
            color: white;
            padding: 20px;
            text-align: center;
        }

        .content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <header class="main-header">
        <h1 class="header-title">Управление личным бюджетом</h1>

        {% if user.is_authenticated %}
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'income_list' %}">Доходы</a></li>
                <li><a href="{% url 'expense_list' %}">Расходы</a></li>
                <li><a href="{% url 'analysis' %}">Анализ</a></li>
                <li><a href="{% url 'logout' %}" style="color: red;">Выйти</a></li>
            </ul>
        </nav>
        {% else %}
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'login' %}">Войти</a></li>
            </ul>
        </nav>
        {% endif %}
    </header>

    <nav>
        {% if user.is_authenticated %}
        {% if request.path == '/' %}
        <div class="centered-text">
            <h2>Добро пожаловать, {{ user.username }}!</h2>
        </div>
        {% endif %}
        {% else %}
        <div class="centered-text">
            <h2>Добро пожаловать в приложение для ведения личного бюджета!</h2>
            <p>Отслеживайте свои доходы и расходы, анализируйте финансы и достигайте финансовых целей легко и удобно.</p>
        </div>
        {% endif %}
    </nav>

    <div class="content">
        {% block content %}
        {% if user.is_authenticated %}
        <h1>Ваши финансовые данные:</h1>
        <p><strong>Баланс:</strong> {{ balance }} ₽</p>
        <h3>Доходы и расходы за {{ current_month }}:</h3>
        <p><strong>Доходы:</strong> {{ total_income_month }} ₽</p>
        <p><strong>Расходы:</strong> {{ total_expense_month }} ₽</p>
        {% endif %}
        {% endblock %}
    </div>
</body>

</html>
